.require-color {
    color: red;
}

textarea {
    border: solid 1px #e0e0e0;
    /* height: 147px; */
    color: #333;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 12px;
    width: 100%;
    resize: vertical;
}

.preview-img{max-width:250px;position:relative;border:1px solid #ccc;margin-top:10px;background:url(/images/no-img.jpg) center no-repeat}
.preview-img:before{content:"";display:block;padding-top:100%;}
.preview-img img{width:100%;height:100%;position:absolute;top:0;left:0;bottom:0;right:0;padding:5px;}
.preview-img.loaded{background:white}
.preview-img.loaded img{border:2px solid #02cbf7}

.help-block {
    color: #de2323;
}

.input-box input.has-error {
    border: solid 1px #de2323;
}

.my-account .account-tab ul li.tab-right {
    float: right;
}

.my-account .account-tab ul li.tab-right:hover a {
    border-bottom: 0;
}

.form-horizontal .control-label {
    text-align: right !important;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #02cbf7;
}